---
layout: workshop
root: .
venue: Software Carpentry Taster Session at 5th Student Conference on Complexity Science
address:  Granada Congress and Exhibition Centre, Spain   
country: Spain  
language: en
latlng: 37.165599,-3.598344
humandate: Sep 10, 2015 
humantime: 2:00 - 5:00 pm
startdate: 2015-09-10
enddate: 2015-09-10
instructor:  ["Aleksandra Pawlik", "Jan Kim"]
helper: ["TBC"]
contact: sccs2015@soton.ac.uk
etherpad:   # optional (insert the URL for your Etherpad if you're using one)
---

{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="206px"
  scrolling="auto">
</iframe>
{% endif %}

<h2>Workshop information</h2>

<p>This workshop is a part of the <a href="http://sccs2015.soton.ac.uk/">
5th Student Conference on Complexity Science</a>
organised by the Institute for Complex System Simulation at the 
University of Southampton. The workshop consists of two parallel training sessions
based on Software Carpentry workshops. The first session covers
version contol with Git. The second session focuses on introduction to
Shell. This training is run in collaboration with the 
<a href="http://www.software.ac.uk">Software Sustainability Institute</a>. <br/><br/></p>

<div class="row">
<div class="col-md-6">
  <a href="http://sccs2015.soton.ac.uk/" title="SCCS">
    <img alt="SCCS Logo" src="img/sccs_logo.png" style="height: 110px;"/>
  </a>
</div>
<div class="col-md-6">
  <a href="http://www.software..ac.uk/" title="SSI">
    <img alt="SSI" src="http://www.software.ac.uk/sites/default/files/images/content/SSI_Big300dpi.png" style="height: 110px;"/>
  </a>
</div>
</div>


<h2>Software Carpentry</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>'s mission
  is to help scientists and engineers get more research done in less
  time and with less pain by teaching them basic lab skills for
  scientific computing.  These two hands-on taster sessions 
  (run in parallel) will cover version control with Git and
  and task automation with Shell.  Participants will be encouraged to
  help one another and to apply what they have learned to their own
  research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Who:</strong>
  The workshop is available for the attendees the of 5th Student Conference on Complexity Science.
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Participants must bring a laptop with
  a few specific software packages installed (listed
  <a href="#setup">below</a>). They are also required to abide by
  Software Carpentry's
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>



<!--
  ETHERPAD

  At `_misc/etherpad.txt` you will find a template for the etherpad.

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->

<p>
  <strong>Etherpad:</strong>
  <br/>
  We will use these Etherpads for chatting, taking notes, and sharing URLs and bits of code: 
<ul>

<li><a href="https://swcuk.etherpad.mozilla.org/sccs-shell">Shell session</a></li>
<li><a href="https://swcuk.etherpad.mozilla.org/sccs-git">Version control session</a></li>
</td>
</ul>
</p>


<hr/>


<h2>Syllabus</h2>

<div class="row">
  <div class="col-md-6">
    <h3>The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_lessons}}/ref/01-shell.html">Reference...</a></li>
    </ul>
  </div>

  </div>



<div class="row">
  <div class="col-md-6">
    <h3>Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Open licenses</li>
      <li>Where to host work, and why</li>
      <li><a href="{{site.swc_lessons}}/ref/02-git.html">Reference...</a></li>
    </ul>
  </div>
</div>

<hr/>



<h2 id="setup">Setup</h2>

<p>
  To participate in a Software Carpentry workshop, you will need
  access to the software described below. In addition, you will
  need an up-to-date web browser.
</p>
<p>
  We maintain a list of common issues that occur during installation as a reference for instructors
  that may be useful on the
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>

<div id="shell"> <!-- Start of 'shell' section. -->
  <h3>The Bash Shell</h3>

  <p>
    Bash is a commonly-used shell that gives you the power to do simple
    tasks more quickly.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="shell-windows">Windows</h4>
      <p>
        Install Git for Windows by downloading and running
        <a href="http://msysgit.github.io/">the installer</a>.
        This will provide you with both Git and Bash in the Git Bash program.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-macosx">Mac OS X</h4>
      <p>
        The default shell in all versions of Mac OS X is bash, so no
        need to install anything.  You access bash from the Terminal
        (found in
        <code>/Applications/Utilities</code>).  You may want to keep
        Terminal in your dock for this workshop.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-linux">Linux</h4>
      <p>
        The default shell is usually Bash, but if your
        machine is set up differently you can run it by opening a
        terminal and typing <code>bash</code>.  There is no need to
        install anything.
      </p>
    </div>
  </div>
</div> <!-- End of 'shell' section. -->

<div id='git'> <!-- Start of 'Git' section. GitHub browser compatability
           is given at https://help.github.com/articles/supported-browsers/-->
  <h3>Git</h3>

  <p>
    Git is a version control system that lets you track who made changes
    to what when and has options for easily updating a shared or public
    version of your code
    on <a href="https://github.com/">github.com</a>. You will need a
    <a href="https://help.github.com/articles/supported-browsers/">supported</a>
    web browser (current versions of Chrome, Firefox or Safari,
    or Internet Explorer version 9 or above).
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="git-windows">Windows</h4>
      <p>
        Git should be installed on your computer as part of your Bash
        install (described above).
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="git-macosx">Mac OS X</h4>
      <p>
        <strong>For OS X 10.9 and higher</strong>, install Git for Mac
        by downloading and running the most recent "mavericks" installer from
        <a href="http://sourceforge.net/projects/git-osx-installer/files/">this list</a>.
        After installing Git, there will not be anything in your <code>/Applications</code> folder,
        as Git is a command line program.
        <strong>For older versions of OS X (10.5-10.8)</strong> use the
        most recent available installer labelled "snow-leopard"
        <a href="http://sourceforge.net/projects/git-osx-installer/files/">available here</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="git-linux">Linux</h4>
      <p>
        If Git is not already available on your machine you can try to
        install it via your distro's package manager. For Debian/Ubuntu run
        <code>sudo apt-get install git</code> and for Fedora run
        <code>sudo yum install git</code>.
      </p>
    </div>
  </div>
</div> <!-- End of 'Git' section. -->

<div id="editor"> <!-- Start of 'editor' section. -->
  <h3>Text Editor</h3>

  <p>
    When you're writing code, it's nice to have a text editor that is
    optimized for writing code, with features like automatic
    color-coding of key words.  The default text editor on Mac OS X and
    Linux is usually set to Vim, which is not famous for being
    intuitive.  if you accidentally find yourself stuck in it, try
    typing the escape key, followed by <code>:q!</code> (colon, lower-case 'q',
    exclamation mark), then hitting Return to return to the shell.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="editor-windows">Windows</h4>
      <p>
        We recommend that you install and use
        <a href="http://notepad-plus-plus.org/">Notepad++</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-macosx">Mac OS X</h4>
      <p>
        nano is a basic editor and the default that instructors use in the workshop.
        It should be pre-installed.
      </p>
      <p>
        Others editors that you can use are
        <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-linux">Linux</h4>
      <p>
        nano is a basic editor and the default that instructors use in the workshop.
        It should be pre-installed.
      </p>
      <p>
        Others editors that you can use are
        <a href="https://wiki.gnome.org/Apps/Gedit">Gedit</a>,
       or
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
  </div>
</div> <!-- End of 'editor' section. -->



